node_modules/
frontend/node_modules/
venv/
backend/venv/
__pycache__/
*.db
.env
.DS_Store
dist/
venv/
backend/venv/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
venv/
backend/venv/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
